@charset "utf-8";
/* --------------- Style to null --------------- */
*{-webkit-text-size-adjust: none; }
*{-moz-box-sizing:border-box;box-sizing:border-box;}html,body,div,span,h1,h2,h3,h4,h5,h6,p,em,img,strong,sub,sup,b,u,i,dl,dt,dd,ol,ul,li,fieldset,form,label,table,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,a,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{-webkit-tap-highlight-color: rgba(0,0,0,0); border:0;outline:0;vertical-align:baseline;background:transparent;font-size:100%;margin:0;padding:0;}a{background:transparent;}table{border-collapse:collapse;border-spacing:0;}td,td img{vertical-align:top;}input,select,button,textarea{font-size:12px;font-family:Arial, Helvetica, sans-serif;margin:0;}input[type="text"],input[type="password"],textarea,input[type="email"],input[type="phone"],input[type="number"]{font:12px Arial, Helvetica, sans-serif;padding:0;}input[type="checkbox"]{vertical-align:bottom;}input[type="radio"]{vertical-align:text-bottom;}sub{vertical-align:sub;font-size:smaller;}sup{vertical-align:super;font-size:smaller;}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block;}ul,ol{list-style:none;}html{overflow-y:scroll;overflow-x:auto;}html,body{height:100%;}body{line-height:1;color:#000;text-align:left;z-index:1;position:relative;}input [type='text']{padding:0;}textarea{resize:none;overflow:auto;}label,input[type="button"],input[type="submit"],button{cursor:pointer;}input[type="button"],input[type="reset"],input[type="submit"],button,input[type="text"],input[type="password"],textarea,input[type="email"],input[type="tel"],input[type="phone"],input[type="number"]{-webkit-appearance:none;}a,a:visited,a:hover,a:focus,a:active{text-decoration:none;}input[type="submit"]::-moz-focus-inner,button::-moz-focus-inner{border:0;padding:0;}input:invalid{outline:none;-moz-box-shadow:none;border:none;}::-ms-clear{display:none;}input,textarea,input[type="search"]:focus,:focus{outline:none;}
input[type="search"]::-webkit-search-cancel-button {
    -webkit-appearance: none;
}
.centering {
    display: table;
    width: 100%;
}
.centering > * {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}
/* --------------- Style to null --------------- */

/*
    main styles
    version: 15.01.2013

    placeholder

    fonts

    site

    logo
*/

/* --------------- placeholder --------------- */
::-webkit-input-placeholder {
    font-family: 'PT Sans', sans-serif;
    font-size: 12px;
    color: #9a9a9a;
    -webkit-transition: color 300ms ease-in-out;
}
:-moz-placeholder {
    font-family: 'PT Sans', sans-serif;
    font-size: 12px;
    color: #9a9a9a;
    -webkit-transition: color 300ms ease-in-out;
    transition: color 300ms ease-in-out;
}
.placeholder {
    font-family: 'PT Sans', sans-serif;
    font-size: 12px;
    color: #9a9a9a;
    -webkit-transition: color 300ms ease-in-out;
    transition: color 300ms ease-in-out;
}
:focus::-webkit-input-placeholder {color: transparent}
:focus::-moz-placeholder          {color: transparent}
:focus:-moz-placeholder           {color: transparent}
:focus:-ms-input-placeholder      {color: transparent}
/* --------------- /placeholder --------------- */

/* --------------- site --------------- */
.site {
    min-height: 100%;
    width: 1024px;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    z-index: 1;
    font-family: 'PT Sans', sans-serif;
    box-shadow: 0 0 12px rgba(0,0,0,.3);
}
.site__title{
    font-size: 14px;
    color:#245098;
    text-align: center;
    font-weight: 400;
    text-transform: uppercase;
    margin-bottom: 15px;
}
.site:after {
    content: '';
    display: block;
    clear: both;
    width: 100%;
    height: 131px;
}
.site__content {
    position: relative;
    z-index: 2;
}
.site__header {
    position: relative;
    height: 165px;
    z-index: 3;
    padding-top: 31px;
}
.site__footer {
    z-index: 2;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 131px;
}
.site__footer a{
    text-decoration: underline;
}
.site__footer a:hover{
    text-decoration: none;
}
.site__footer-layout {
    width: 100%;
    height: 131px;
    background: #245098;
    padding: 21px 12px 0;
}
.site__footer-number{
    width: 88px;
    height: 30px;
    margin-bottom: 23px;
}
.site__footer-copyright{
    display: inline-block;
    vertical-align: top;
    margin-right: 70px;
}
.site__footer-copyright span{
    font-size: 13px;
    color: #fff;
}
a.site__footer-address{
    display: inline-block;
    position: relative;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 12px;
    color: #fff;
    padding: 7px;
    padding-left: 35px;
    margin-top: 6px;
    margin-right: 105px;
    background-color: transparent;
    border: 1px solid #fff;
    height: 30px;
    width: 139px;
    margin-bottom: 10px;
    -webkit-transition: color 300ms ease-in-out, background 300ms ease-in-out;
    transition: color 300ms ease-in-out, background 300ms ease-in-out;
}
a.site__footer-address:hover{
    background: #fff;
    color: #245098;
}
a.site__footer-address:before {
    content: "";
    position: absolute;
    background: url("../img/footer-icon02.png");
    background-position: 0 22px;
    top: 2px;
    left: 5px;
    width: 19px;
    height: 20px;
    -webkit-transition: background 300ms ease-in-out;
    transition: background 300ms ease-in-out;
}
a.site__footer-address:hover:before {
    background-position: 0 -1px;
}
.site__footer-contacts{
    display: inline-block;
    vertical-align: top;
}
.site__footer-contacts div{
    margin-bottom: 3px;
}
.site__footer-contacts{
    font-size: 14px;
    color: #fff;
}
.site__footer-contacts a{
    font-size: 14px;
    color: #fff;
}
.site__footer-developer{
    position: absolute;
    top: 78px;
    right: 12px;
    font-size: 13px;
    color:#fff;
    text-align: right;
}
.site__footer-developer a{
    color: #fff;
}
.site__header-feedback{
    display: inline-block;
    width: 154px;
    margin-left: 305px;
}
.site__header-feedback > a{
    position: relative;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 12px;
    color: #245098;
    display: block;
    padding: 7px;
    padding-left: 35px;
    background-color: #ffffff;
    border: 1px solid #245098;
    height: 28px;
    margin-bottom: 10px;
    -webkit-transition: color 300ms ease-in-out, background 300ms ease-in-out;
    transition: color 300ms ease-in-out, background 300ms ease-in-out;
}
.site__header-feedback .feedback-message:before, .site__header-feedback .feedback-call:before{
    content: "";
    position: absolute;
    background: url("../img/sprite-image.png");
    -webkit-transition: background 300ms ease-in-out;
    transition:  background 300ms ease-in-out;
}
.site__header-feedback .feedback-message:before{
    width: 25px;
    height: 14px;
    background-position: -2px -2px;
    left: 6px;
    top: 7px;
}
.site__header-feedback .feedback-call:before{
    width: 19px;
    height: 20px;
    background-position: 24px 0;
    left: 5px;
    top: 2px;
}
.site__header-feedback > a:hover{
    background: #245098;
    color: #fff;
}
.site__header-feedback .feedback-message:hover:before{
    background-position: -2px -42px;
}
.site__header-feedback .feedback-call:hover:before{
    background-position: 24px -37px;
}
.site__header-contacts{
    position: relative;
    width: 178px;
    display: inline-block;
    vertical-align: top;
    margin-left: 56px;
    font-size: 14px;
    padding-top: 2px;
}
.site__header-contacts>div{
    margin-bottom: 10px;
}
.site__header-contacts div a{
    color: #222;
}
.site__header-contacts .contacts-email-link{
    color: #245098;
    text-decoration: underline;
    padding-left: 6px;
}
.site__header-search{
    position: relative;
    display: inline-block;
    margin-left: 80px;
    font-size: 14px;
    color: #212121;
    vertical-align: top;
    padding-top: 2px;
    letter-spacing: -0.3px;
}
.site__header-search>span{
    margin-bottom: 25px;
    display: block;
}
.site__header-search form{
    position: relative;
    top: 2px;
    width: 230px;
    height: 25px;
}
.site__header-search form input{
    width: 100%;
    height: 22px;
    padding-left: 8px;
    padding-right: 25px;
}
.site__header-search form .search-field{
    border: none;
    box-shadow: 0 0 5px inset;
}
.site__header-search form .search-btn{
    width: 25px;
    height: 25px;
    position: absolute;
    top: -2px;
    right: -9px;
    border: none;
    background: url("../img/searching.png") no-repeat top;
    background-size: 15px;
    background-position: 3px 5px;
    opacity: 1;
    -webkit-transition: opacity 300ms ease-in-out;
    transition: opacity 300ms ease-in-out;
}
.site__header-search form .search-btn:hover{
    opacity: .7;
}
.site__content-wrap {
    padding: 0 9px;
}
.site__content-wrap .site__title{
    text-align: left;
    margin-bottom: 27px;
    padding-left: 4px;
}
/* --------------- /site --------------- */

/* --------------- header__menu--------------- */
.header__menu{
    position: relative;
    margin-top: 19px;
    font-size: 14px;
    white-space: nowrap;
    background: #245098;
}
.header__menu>ul{
    display: table;
    width: 100%;
    margin: 0 auto;
    height: 39px;
}
.header__menu>ul li{
    display: table-cell;
    position: relative;
    border-bottom: 1px solid #245098;

}
.header__menu>ul li a{
    display: block;
    text-align: center;
    padding: 0 4px;
    height: 38px;
    padding-top: 13px;
    color: #ffffff;
    background: #245098;
    -webkit-transition: background 300ms ease-in-out;
    transition: background 300ms ease-in-out;
}

.header__menu > ul > li:hover > a {
    background: #122d5a;
}
.header__menu>ul li ul{
    position: absolute;
    background: #245098;
    top: 39px;
    padding-top: 13px;
    padding-bottom: 13px;
    opacity: 0;
    visibility: hidden;
}
.header__menu>ul li ul li a:hover{
    background: #122d5a;
}
.header__menu>ul li ul li{
    display: block;
    width: 240px;
}
.header__menu > ul > li:hover ul{
    opacity: 1;
    visibility: visible;
}
.header__menu>ul li ul li a{
    text-align: left;
    height: 30px;
    padding: 7px 14px;
}
/* --------------- /header__menu --------------- */

/* --------------- logo --------------- */
.logo {
    position: absolute;
    top: 0;
    left: 0;
}
/* --------------- /logo --------------- */

/* ------------- breadcrumps ------------- */
.breadcrumps {
    padding: 27px 10px 22px;
    font-size: 14px;
    color: #333;
}
.breadcrumps a{
    position: relative;
    margin-right: 15px;
    color: #385194;
}
.breadcrumps a:after{
    content: '→';
    position: absolute;
    left: 100%;
    top: 2px;
    margin-left: 2px;
}
/* ------------- /breadcrumps ------------- */

/* ------------- gallery ------------- */
.gallery{
    position: relative;
    width: 100%;
    height: 148px;
    margin-bottom: 65px;
}
.gallery__wrap{
    height: 147px;
    text-align: center;
    background: #f1f1f1;
}
.gallery__item {
    display: inline-block;
    vertical-align: middle;
    transition: opacity .3s ease;
}
.gallery__item:hover{
    opacity: 0.7;
}
.gallery__item a{
    display: inline-block;
    vertical-align: top;
    width: 164px;
    height: 148px;
}
.gallery__item a img{
    width: 100%;
    height: 100%;
}
.customer__next,
.customer__prev,
.gallery__next,
.gallery__prev {
    position: absolute;
    top: 0;
    left: 0;
    width: 42px;
    height: 100%;
    cursor: pointer;
    background: #2f90d5;
    opacity: 0.5;
    -webkit-transition: opacity 0.3s ease;
    transition: opacity 0.3s ease;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    z-index: 2;
}
.customer__next,
.gallery__next {
    right: 0;
    left: auto !important;
}
.customer__next:before,
.customer__prev:before,
.gallery__next:before,
.gallery__prev:before {
    content: '';
    background: url("../img/gallery-btn.png") no-repeat;
    width: 26px;
    height: 39px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -20px 0 0 -13px;
}
.customer__next:before,
.gallery__next:before {
    background-position: right 0;
}
.customer__next:hover,
.customer__prev:hover,
.gallery__next:hover,
.gallery__prev:hover {
    opacity: 1;
}
/* ------------- /gallery ------------- */

/* ------------- promo ------------- */
.promo{
    position: relative;
    margin-bottom: 41px;
}
.promo__controll{
    background: #6b778e;
    opacity: .7;
    display: inline-block;
    position: absolute;
    top: 260px;
    left: 11px;
    z-index: 4;
}
.promo__controll>div{
    position: relative;
    width: 56px;
    height: 34px;
    display: inline-block;
}
.promo__prev:before{
    content: '';
    background: url("../img/gallery-btn.png") no-repeat;
    width: 13px;
    height: 36px;
    position: absolute;
    background-size: 25px 20px;
    top: 8px;
    left: 23px;
}
.promo__next:before{
    content: '';
    background: url("../img/gallery-btn.png") no-repeat;
    width: 13px;
    height: 36px;
    position: absolute;
    background-size: 25px 20px;
    top: 8px;
    left: 20px;
    background-position: -13px 0px;
}
.promo__item{
    height: 320px;
    width: 100%;
}
.promo__item a{
    width: 1024px;
    height: 320px;
    display: inline-block;
}
.promo__pagination{
    display: inline-block;
    width: 136px;
    left: 50%;
    position: absolute;
    bottom: 34px;
    z-index: 4;
    margin-left: -167px;
}
.promo__pagination span{
    width: 12px;
    height: 12px;
    margin-right: 15px;
 }
.promo__pagination .swiper-pagination-bullet{
    background:#2b4d82;
    opacity: 1;
}
.promo__pagination .swiper-pagination-bullet-active{
    background: #fff;
}
.promo__review{
    position: absolute;
    background: rgba(18, 45, 90, 0.6);
    top: 0;
    right: 0;
    height: 100%;
    width: 270px;
    z-index: 4;
    color: #ffffff;
    padding: 24px 25px;
    padding-right: 18px;
}
.promo__review>div{
    position: relative;
    height: 100%;
}
.promo__review .news-title{
    font-size: 24px;
    padding-bottom: 12px;
    border-bottom: 1px solid #245098;
    margin-bottom: 23px;
}
.promo__review data{
    font-size: 12px;
    display: block;
    margin-bottom: 18px;
}
.promo__review p{
    font-size: 14px;
    line-height: 17px;
    margin-bottom: 15px;
}
.promo__review a{
    color: #ffffff;
    font-size: 12px;
    text-decoration: underline;
    transition: color .3s ease;
}
.promo__review a:hover{
    text-decoration:none;
    color: #af902b;
}
.promo__review .promo-link{
    text-decoration: none;
    position: absolute;
    bottom: 0;
    left: 0;
    font-size: 14px;
    text-transform: uppercase;
    border: 2px solid #fff;
    padding: 10px 66px;
    transition: border .3s ease;
}
.promo__review .promo-link:hover{
    border: 2px solid #af902b;
}
/* ------------- /promo ------------- */

/* ------------- gallery ------------- */
.customer{
    position: relative;
    width: 100%;
    height: 148px;
    margin-bottom: 56px;
    padding-top: 30px;
}
.customer__wrap{
    height: 145px;
    text-align: center;
    background: #f1f1f1;
}
.customer__item {
    display: inline-block;
    vertical-align: top;
    transition: opacity .3s ease;
}
.customer__item:hover{
    opacity: 0.7;
}
.customer__item a{
    display: inline-block;
    vertical-align: top;
    width: 185px;
    height: 97px;
    background-position: center;
    background-repeat: no-repeat;
}
/* ------------- /gallery ------------- */

/* ------------- customer ------------- */
.customer{
    position: relative;
    width: 100%;
    height: 138px;
    margin-bottom: 19px;
    padding-top: 21px;
}
.customer__wrap{
    height: 145px;
    text-align: center;
    background: #f1f1f1;
}
.customer__item {
    display: inline-block;
    vertical-align: top;
    transition: opacity .3s ease;
}
.customer__item:hover{
    opacity: 0.7;
}
.customer__item a{
    display: inline-block;
    vertical-align: top;
    width: 185px;
    height: 97px;
    background-position: center;
    background-repeat: no-repeat;
}
/* ------------- /customer ------------- */

/* ------------- productions ------------- */
.productions{
    padding-top: 4px;
    color: #fff;
    margin-bottom: 33px;
    font-weight: 700;
}

.productions>div{
    display: block;
    width: 100%;
    height: 246px;
}
.productions>div>div{
    display: inline-block;
}
.productions>div a{
    display: inline-block;
    position: relative;
    vertical-align: top;
    background-size: cover;
    color: #fff;
    font-weight: 700;
}
.productions>div .big-image{
    width: 609px;
    height: 246px;
}
.productions>div .sub-image-1{
    width: 409px;
    height: 125px;
    display: block;
    margin-bottom: 12px;
}
.productions>div .sub-image-2{
    width: 409px;
    height: 109px;
}
.productions>div{
    display: block;
    width: 100%;
    height: 246px;
    margin-bottom: 10px;
}
.productions>div>div{
    display: inline-block;
    margin-left: 6px;
}
.productions>div a{
    display: inline-block;
    position: relative;
    vertical-align: top;
    background-size: cover;
    padding-top: 28px;
    padding-left: 21px;
    padding-right: 64px;
    text-decoration: none;
}
.productions>div .big-image{
    width: 604px;
    height: 246px;
}
.productions>div .sub-image-1{
    width: 409px;
    height: 128px;
    display: block;
    margin-bottom: 10px;
    padding-top: 15px;
    overflow: hidden;
}
.productions>div .sub-image-2{
    width: 409px;
    height: 109px;
    padding-top: 15px;
    padding-right: 8px;
    overflow: hidden;
}
.productions>div:nth-child(even) .big-image {
    width: 604px;
    height: 246px;
    position: absolute;
    right: 0;
    padding-top: 18px;
    padding-right: 180px;
    overflow: hidden;
}
.productions>div:nth-child(even) > div {
    margin-left: 0;
}
.productions>div:nth-child(even) .sub-image-1{
    width: 411px;
    height: 116px;
    padding-right: 6px;
    overflow: hidden;
}
.productions>div:nth-child(even) .sub-image-2{
    width: 411px;
    height: 119px;
    padding-right: 0px;
    overflow: hidden;
}
.productions>div a:before{
    content: "";
    position: absolute;
    background: url("../img/bg-preview.jpg");
    opacity: 0.7;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;

}
.productions__title, .productions__descr{
    position: relative;
    z-index: 5;
}
.productions__title{
    font-size: 24px;
    text-transform: uppercase;
    margin-bottom: 11px;
}
.productions__descr{
    font-size: 18px;
    line-height: 23px;
    letter-spacing: .4px;
}
/* ------------- /productions ------------- */

/* ------------- news-list ------------- */
.news-list{
    margin-bottom: 44px;
}
.news-list__item{
    display: inline-block;
    vertical-align: top;
    background: #f2f2f2;
    width: 338px;
    padding: 23px 13px;
}
.news-list__item time{
    display: inline-block;
    vertical-align: top;
    font-size: 12px;
    color: #171717;
    margin-bottom: 12px;
}
.news-list__item h3{
    font-size: 14px;
    color: #245098;
    font-weight: 700;
    line-height: 23px;
    letter-spacing: 0.9px;
    text-transform: uppercase;
    margin-bottom: 21px;
}
.news-list__item div{
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 20px 22px 0;
    width: 103px;
    height: 90px;
    float: left;
}
.news-list__item p{
    font-size: 14px;
    color: #171717;
    line-height: 18px;
    margin-bottom: 21px;
    width: 96%;
}
.news-list__item a{
    font-size: 14px;
    color: #245098;
    text-decoration: underline;
}
.news-list__item a:hover{
    text-decoration: none;
}
/* ------------- /news-list ------------- */

/* --------------- popup --------------- */
.popup {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: #0093c4;
    background: url("../img/popup-bg.png");
    z-index: 3;
    display: none;
}
.popup__wrap {
    position: absolute;
    width: 480px;
    height: 633px;
    top: 36%;
    left: 50%;
    margin: -225px 0 0 -240px;
    box-shadow: 0 0 10px #000;
    padding: 72px 30px 0 30px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    background: #fff;
    font-size: 14px;
    color: #2e2e2e;
}
.popup__wrap div.popup__close {
    content: '';
    background: url("../img/popup-close.png") no-repeat;
    width: 20px;
    height: 20px;
    position: absolute;
    top: 4px;
    right: -35px;
    cursor: pointer;
}
.popup__wrap h2 {
    font-size: 24px;
    font-weight: 300;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    background: #485d7f;
    position: absolute;
    top: 2px;
    left: 2px;
    width: 99%;
    padding: 15px 20px 14px;
}
.popup__wrap fieldset {
    margin-bottom: 20px;
}
.popup__wrap label {
    display: inline-block;
    width: 100%;
    text-align: center;
    font-size: 16px;
    color: #2e2e2e;
    margin-bottom: 7px;
}
.popup__wrap fieldset textarea,
.popup__wrap fieldset input {
    width: 100%;
    height: 31px;
    background: #e8e8e8;
    border: 1px solid #b3b3b3;
    padding: 0 10px;
    font-size: 14px;
    color: #000;
    display: block;
    box-shadow:  #b3b3b3 inset 0 0 10px;
}
.popup__wrap fieldset textarea{
    height: 97px;
    margin-bottom: 3px;
}
.popup__wrap input.popup__send {
    display: block;
    background: #fff;
    font-size: 14px;
    color: #245098;
    text-transform: uppercase;
    font-weight: 300;
    border: 2px solid #245098;
    margin: 20px auto 0;
    padding: 8px 70px 10px;
    -webkit-transition: color 0.3s ease, border 0.3s ease, background 0.3s ease;
    transition: color 0.3s ease, border 0.3s ease, background 0.3s ease;
}
.popup__wrap input.popup__send:hover {
    background: #245098;
    color: #fff;
}
.popup__wrap span {
    display: inline-block;
    vertical-align: top;
    padding-top: 14px;
}
.popup__wrap span>span,
.popup__wrap label>span{
    color: #db2b2e;
    padding-top: 0;
}
fieldset.popup__from-pic{
    margin-bottom: 12px;
}
fieldset.popup__from-pic label{
    margin-bottom: 17px;
}
fieldset.popup__from-pic input{
    width: 210px;
    margin-left: 210px;
}
.popup-pic{
    position: absolute;
    left: 29px;
    bottom: 123px;
    background-repeat: no-repeat;
    background-size: contain;
    width: 210px;
    height: 40px;
}
/* --------------- /popup --------------- */

/* --------------- site__content-pic --------------- */
.site__content__pic{
    display: inline-block;
    vertical-align: top;
    width: 157px;
    margin-right: 12px;
    margin-bottom: 60px;
}
.site__content__pic div{
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 100%;
    height: 135px;
    margin-bottom: 5px;
}
.site__content__text time{
    font-size: 12px;
    display: block;
    margin-bottom: 20px;
}
.site__content__text{
    display: inline-block;
    vertical-align: top;
    position: relative;
    width: 802px;
    margin-bottom: 60px;
}
.site__content__text p{
    font-size: 14px;
    line-height: 18px;
    margin-bottom: 18px;
}
.site__content__text a{
    content: "";
    background: url("../img/print.png") no-repeat;
    position: absolute;
    top: 0;
    right: -33px;
    width: 24px;
    height: 24px;
}
.text_no-pic{
    width: 972px;
}
/* --------------- /site__content-pic --------------- */
