@charset "utf-8";
/* --------------- Style to null --------------- */
*{-webkit-text-size-adjust: none; }
*{-moz-box-sizing:border-box;box-sizing:border-box;}html,body,div,span,h1,h2,h3,h4,h5,h6,p,em,img,strong,sub,sup,b,u,i,dl,dt,dd,ol,ul,li,fieldset,form,label,table,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,a,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{-webkit-tap-highlight-color: rgba(0,0,0,0); border:0;outline:0;vertical-align:baseline;background:transparent;font-size:100%;margin:0;padding:0;}a{background:transparent;}table{border-collapse:collapse;border-spacing:0;}td,td img{vertical-align:top;}input,select,button,textarea{font-size:12px;font-family:Arial, Helvetica, sans-serif;margin:0;}input[type="text"],input[type="password"],textarea,input[type="email"],input[type="phone"],input[type="number"]{font:12px Arial, Helvetica, sans-serif;padding:0;}input[type="checkbox"]{vertical-align:bottom;}input[type="radio"]{vertical-align:text-bottom;}sub{vertical-align:sub;font-size:smaller;}sup{vertical-align:super;font-size:smaller;}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block;}ul,ol{list-style:none;}html{overflow-y:scroll;overflow-x:auto;}html,body{height:100%;}body{line-height:1;color:#000;text-align:left;z-index:1;position:relative;}input [type='text']{padding:0;}textarea{resize:none;overflow:auto;}label,input[type="button"],input[type="submit"],button{cursor:pointer;}input[type="button"],input[type="reset"],input[type="submit"],button,input[type="text"],input[type="password"],textarea,input[type="email"],input[type="tel"],input[type="phone"],input[type="number"]{-webkit-appearance:none;}a,a:visited,a:hover,a:focus,a:active{text-decoration:none;}input[type="submit"]::-moz-focus-inner,button::-moz-focus-inner{border:0;padding:0;}input:invalid{outline:none;-moz-box-shadow:none;border:none;}::-ms-clear{display:none;}input,textarea,input[type="search"]:focus,:focus{outline:none;}
/* --------------- Style to null --------------- */

/*
    main styles
    version: 15.01.2013

    placeholder

    fonts

    site

    logo
*/

/* --------------- placeholder --------------- */
::-webkit-input-placeholder {
    color: #d2d2d2;
    font-family: 'PT Sans', sans-serif;
    font-size: 12px;
}
:-moz-placeholder {
    color: #d2d2d2;
    font-family: 'PT Sans', sans-serif;
    font-size: 12px;
}
.placeholder {
    color: #d2d2d2;
    font-family: 'PT Sans', sans-serif;
    font-size: 12px;
}
/* --------------- /placeholder --------------- */



/* --------------- site --------------- */
.site {
    min-height: 100%;
    min-width: 1024px;
    width: 1024px;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    z-index: 1;
    font-family: 'PT Sans', sans-serif;
}
.site a{
    font-family: 'PT Sans', sans-serif;
}
.site:after {
    content: '';
    display: block;
    clear: both;
    width: 100%;

    height: 100px;
}
.site__content {
    position: relative;
    z-index: 2;
}
.site__header {
    position: relative;
    height: 165px;
    z-index: 3;
    padding-top: 31px;
}
.site__footer {
    z-index: 2;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100px;
}
.site__footer-layout {
    width: 100%;

    height: 100px;
    background: blue;
}
.site__header-feedback{
    display: inline-block;
    width: 154px;
    margin-left: 305px;

}
.site__header-feedback > a{
    position: relative;
    text-transform: uppercase;
    font-size: 12px;
    color: #245098;
    display: block;
    padding: 7px;
    padding-left: 35px;
    background-color: #ffffff;
    border: 1px solid #245098;
    height: 28px;
    margin-bottom: 10px;
    -webkit-transition: color 300ms ease-in-out, background 300ms ease-in-out;
    transition: color 300ms ease-in-out, background 300ms ease-in-out;
}
.site__header-feedback .feedback-message:before, .site__header-feedback .feedback-call:before{
    content: "";
    position: absolute;
    background: url("../img/sprite-image.png");
    -webkit-transition: background 300ms ease-in-out;
    transition:  background 300ms ease-in-out;
}
.site__header-feedback .feedback-message:before{
    width: 25px;
    height: 14px;
    background-position: -2px -2px;
    left: 6px;
    top: 7px;
}
.site__header-feedback .feedback-call:before{
    width: 19px;
    height: 20px;
    background-position: 24px 0;
    left: 5px;
    top: 2px;
}
.site__header-feedback > a:hover{
    background: #245098;
    color: #fff;
}
.site__header-feedback .feedback-message:hover:before{
    background-position: -2px -42px;
}
.site__header-feedback .feedback-call:hover:before{
    background-position: 24px -37px;
}
.site__header-contacts{
    position: relative;
    width: 178px;
    display: inline-block;
    vertical-align: top;
    margin-left: 56px;
    font-size: 14px;
    padding-top: 2px;
}
.site__header-contacts>div{
    margin-bottom: 10px;
}
.site__header-contacts div a{
    color: #222;
}
.site__header-contacts .contacts-email-link{
    color: #245098;
    text-decoration: underline;
    padding-left: 6px;
}
.site__header-search{
    position: relative;
    display: inline-block;
    margin-left: 80px;
    font-size: 14px;
    color: #212121;
    vertical-align: top;
    padding-top: 2px;
    letter-spacing: -0.3px;
}
.site__header-search>span{
    margin-bottom: 25px;
    display: block;
}
.site__header-search form{
    position: relative;
    top: 2px;
    width: 230px;
    height: 25px;

}
.site__header-search form input{
    width: 100%;
    height: 22px;
    padding-left: 8px;
    padding-right: 25px;
}
.site__header-search form .search-field{
    border: none;
    box-shadow: 0 0 5px inset;
}
.site__header-search form .search-btn{
    width: 25px;
    height: 25px;
    position: absolute;
    top: -2px;
    right: -9px;
    border: none;
    background: url("../img/searching.png") no-repeat top;
    background-size: 15px;
    background-position: 3px 5px;
    opacity: 1;
    -webkit-transition: opacity 300ms ease-in-out;
    transition: opacity 300ms ease-in-out;
}
.site__header-search form .search-btn:hover{
    opacity: .7;
}

/* --------------- /site --------------- */

/* --------------- header__menu--------------- */
.header__menu{
    position: relative;
    margin-top: 19px;
    font-size: 14px;
    white-space: nowrap;
    background: #245098;
}
.header__menu>ul{
    display: table;
    width: 100%;
    margin: 0 auto;
    height: 39px;
}
.header__menu>ul li{
    display: table-cell;
    position: relative;
    border-bottom: 1px solid #245098;

}
.header__menu>ul li a{
    display: block;
    text-align: center;
    padding: 0 4px;
    height: 38px;
    padding-top: 13px;
    color: #ffffff;
    background: #245098;
    -webkit-transition: background 300ms ease-in-out;
    transition: background 300ms ease-in-out;
}

.header__menu > ul > li:hover > a {
    background: #122d5a;
}
.header__menu>ul li ul{
    position: absolute;
    background: #245098;
    top: 39px;
    padding-top: 13px;
    padding-bottom: 13px;
    opacity: 0;
    visibility: hidden;
}
.header__menu>ul li ul li a:hover{
    background: #122d5a;
}
.header__menu>ul li ul li{
    display: block;
    width: 240px;
}
.header__menu > ul > li:hover ul{
    opacity: 1;
    visibility: visible;
}
.header__menu>ul li ul li a{
    text-align: left;
    height: 30px;
    padding: 7px 14px;
}
/* --------------- /header__menu --------------- */

/* --------------- logo --------------- */
.logo {
    position: absolute;
    top: 0;
    left: 0;
}
/* --------------- /logo --------------- */
/* ------------- gallery ------------- */
.gallery{
    position: relative;
    width: 100%;
    height: 162px;
    margin-bottom: 56px;
}
.gallery__wrap{
    height: 162px;
    text-align: center;
}
.gallery__item {
    display: inline-block;
    vertical-align: middle;
    width: 220px;
    height: 162px;
}
.gallery__next,
.gallery__prev {
    position: absolute;
    top: 0;
    left: 0;
    width: 50px;
    height: 100%;
    cursor: pointer;
    background: #2f90d5;
    opacity: 0.5;
    -webkit-transition: opacity 0.3s ease;
    transition: opacity 0.3s ease;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    z-index: 2;
}
.gallery__next {
    right: 0;
    left: auto !important;
}
.gallery__next:before,
.gallery__prev:before {
    content: '';
    background: url("../img/gallery-btn.png") no-repeat;
    width: 26px;
    height: 39px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -20px 0 0 -13px;
}
.gallery__next:before {
    background-position: right 0;
}
.gallery__next:hover,
.gallery__prev:hover {
    opacity: 1;
}
/* ------------- /gallery ------------- */


/* ------------- news ------------- */
.news{

}
.news__controll{
    background: #6b778e;
    opacity: .7;
    display: inline-block;
}
.news__controll>div{
    position: relative;
    width: 56px;
    height: 34px;
    display: inline-block;
}
.news__prev:before{
    content: '';
    background: url("../img/gallery-btn.png") no-repeat;
    width: 13px;
    height: 36px;
    position: absolute;
    background-size: 25px 20px;
    top: 8px;
    left: 23px;
}
.news__next:before{
    content: '';
    background: url("../img/gallery-btn.png") no-repeat;
    width: 13px;
    height: 36px;
    position: absolute;
    background-size: 25px 20px;
    top: 8px;
    left: 20px;
    background-position: -13px 0px;
}
/* ------------- /news ------------- */